html{
    scroll-behavior: smooth;
}

.nav-item:hover {
    font-size: larger;
    font-weight: bolder;
    border-bottom: 5px solid #000;
}

#socialHandles{
font-size: x-large;
transform: 0;
transition: transform ease 0.5s;
}
#socialHandles:hover{
    transform: translateZ(0) scale(1.5,1.5);
}
.heading{
    font-family: 'Sofia';
    font-style: italic;
}
#teamHandles{
    transform: 0;
transition: transform ease 0.5s;
}
#teamHandles:hover{
    transform: translateZ(0) scale(1.5,1.5);

}
.mainDiv{
    background-color: #f3f5fa;
}
.parallax { 
    background-image: url("https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=900&w=650"); 
    min-height: 500px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
} 
.serviceCard{
    position: relative;
    font-weight: 700;
    top: 0;
    transition: ease 0.5s;
}
.serviceCard:hover{
    top: -10px;
    color: #507ad6;
    cursor: pointer;
}
.teamDescCard{
    position: relative;

    top: 0;
    transition: ease 0.5s;
}
.teamDescCard:hover{
    top: -10px;
}
#upBtn{
    display: none;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    position: fixed;
}   
